/* 서프페이지 공통 */
.main{width: 2000px; height: 500px; background: url(../images/an.jpg) no-repeat;
    position: relative; left: 50%; top: 0; margin-left: -1000px;}
.main h3{font-size: 40px; font-weight: 400;  color: #fff; position: absolute; left: 50%; top: 50%;
        transform: translate(-50%,0);}

.subNav{border-bottom: 1px solid #ccc; }
.subNav ul{width: 600px; margin: 0 auto; overflow: hidden;}
.subNav ul li{float: left; width: 50%; text-align: center; position: relative;}
.subNav ul li a{display: block; padding: 20px 0; font-size: 22px; color: #333; font-weight: 400;
                transition: all .3s; }
.subNav ul li a::after{content: ""; position: absolute; left: 0; bottom: 0; display: block; 
            width: 0; height: 2px; background: #04cf5c; transition: all .3s;}
.subNav ul li a:hover::after{width: 100%; height: 2px; background: #04cf5c;}

.subNav ul li a:hover{color: #04cf5c; font-weight: 700;}
.subNav ul li .current{color: #04cf5c; }

#content{width: 1200px; margin: 0 auto; }
#content .lineMap {margin: 30px 0 30px 1000px; color: #666;}
#content .titleArea h2{font-size: 50px; font-weight: 700; text-align: center; margin: 50px 0 100px; position: relative;}
#content .titleArea h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -70px;
    width: 2px;
    height: 60px;
    background: #04cf5c;
}

