#content {
    background: rgba(0, 0, 0, .8);
    width: auto;
    text-align: center;
 }
 
 #content>div {
    width: auto;
    padding-top: 120px;
    position: relative;
    overflow: hidden;
    padding-bottom: 120px;
 }
 
 #content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.222rem;
    color: #C9B76B;
    line-height: 1.5em;
 }
 
 .phrase {
    color: #fff;
    margin-top: 32px;
    line-height: 1.5em;
 }
 
 /* gallery */
 .gallery {
    margin: 0 64px;
 }
 
 .gallery .phrase {
    margin: 32px 10% 64px;
 }
 
 .grid-image-item,
 .grid--images .grid-sizer {
    width: 25%;
 }
 
 .grid-image-item {
    float: left;
 }
 
 .grid-image-item>div {
    margin: 1rem;
    position: relative;
    overflow: hidden;
 }
 
 .grid-image-item div>div {
    position: absolute;
    text-align: left;
    left: 24px;
    bottom: 24px;
 }
 
 .grid-image-item>div::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    content: '';
    z-index: 10;
    transition: transform 0.6s;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
 }
 
 .grid-image-item:hover>div::before {
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
 }
 
 .grid-image-item img {
    border-radius: 4px;
    display: block;
    width: 100%;
    transition: all .5s;
    filter: grayscale(.5)
 }
 
 .grid-image-item:hover img {
    transform: scale(1.2);
    filter: grayscale(0);
 }
 
 .grid-image-item h4 {
    font-size: 1rem;
    color: #C9B76B;
 }
 
 
 
 /* 일반 pc */
@media screen and (max-width:1280px) {
    .mousey {
       padding: 8px 13px;
       height: 33px;
       margin-left: -15.5px;
    }
 
    .masonry {
       column-count: 5;
    }
 }
 
 
 /* 태블릿 */
 @media screen and (max-width:1024px) {
    .gallery {
       margin: 0 40px;
    }
 
    .grid-image-item div {
       margin: .5rem;
    }
 
    .grid-image-item div>div {
       left: 8px;
       bottom: 8px;
    }
 
    .grid-image-item,
    .grid--images .grid-sizer {
       width: 33.33%;
    }
 
    .grid-image-item img {
       filter: grayscale(0)
    }
 }
 
 /* 소형 태블릿 */
 @media screen and (max-width:768px) {}
 
 /* 모바일 */
 @media screen and (max-width:640px) {
    #content>div {
       padding-bottom: 50px;
    }
 
    .videoBox>h2 {
       font-size: 4.5rem;
    }
 
    .videoBox>h2::before {
       width: 290px;
       height: 17px;
       background-size: 290px 17px;
       margin: 80px 0 0 -145px;
    }
 
    .down {
       bottom: -30px;
       margin-left: -45.525px;
    }
 
    #content>div {
       padding-top: 50px;
    }
 
    #content h3 {
       text-align: center;
       float: none;
    }
 
    .gallery .phrase {
       margin: 24px 5% 32px;
    }
 
    .gallery {
       margin: 0 20px;
    }
 
    .grid-image-item,
    .grid--images .grid-sizer {
       width: 50%;
    }
 }
 
 /* 모바일2 */
 @media screen and (max-width:480px) {
 
    .grid-image-item,
    .grid--images .grid-sizer {
       width: 100%;
    }
 }