
#content .content_toptopic{text-align: center; font-family: 'Noto Sans KR', sans-serif; width: 2000px; position: relative; left: 50%; top: 0; margin: 40px 0 120px -1000px}
#content .content_toptopic p{font-weight: 700; font-size: 2.25em; margin-bottom: 56px; color: #333;}
#content .content_toptopic::before{content: ''; display: block; width: 100%; height: 1px; background: #ececec; position: absolute; bottom: 0; left: 0;}
#content .content_toptopic ul{overflow: hidden; width: 600px; margin: 0 auto;}
#content .content_toptopic li{float: left; width: 50%;}
#content .content_toptopic li:hover .tab{opacity: 1;}
#content .content_toptopic li .tab{display: block; margin-bottom: 24px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 1.25em; color: #666; opacity: .6; transition: all .5s;}
#content .content_toptopic li{opacity: 1; position: relative;}
.afline::before{content: ''; display: block; width: 100%; height: 2px; background: #04cf5c; position: absolute; left: 0; bottom: 1px;}

#content .contlist{display: none;}

/*content*/
#content .content_topic{font-family: 'Noto Sans KR', sans-serif; text-align: center; margin-bottom: 56px;}
#content .content_topic h3{font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 1.25em; color: #04cf5c; margin-bottom: 4px;}
#content .content_topic .subtopic{font-weight: 700; font-size: 2em; color: #333; margin-bottom: 32px;}
#content .content_topic .topic_text{font-size: 1.25em; color: #666; line-height: 1.5em;}